.button {
  background-color: transparent;
  padding: 1rem 1.5rem;
  color: #64ffda;
  font-size: var(--button-font-size);
  border: 2px solid #64ffda;
  border-radius: var(--border-radius);
}
.button:hover {
  background-color: #64ffdb11;
}
