.imgContainer {
  position: relative;
  width: 65%;
  min-height: 400px;
}
.title {
  color: var(--textShade300);
}
.summary {
  border-radius: var(--border-radius);
  color: var(--textShade200);
}
.toolsList {
  color: var(--textShade200);
}
.tool::before {
  content: "•";
  color: var(--accentColor);
}

@media screen and (max-width: 768px) {
  .imgContainer {
    width: 100%;
    min-height: 350px;
    height: 100%;
  }
}
