.navDark {
  background-color: var(--navbar-color);
  box-shadow: 0 10px 10px -12px rgba(0, 0, 0, 0.6);
}
.canvasDark {
  background-color: var(--navbar-canvas-color);
}
.navToggler {
  display: none;
}
.navButton {
  border: none;
  color: var(--accentColor) !important;
}
.navButton:focus {
  outline: 2px solid var(--accentColor);
  outline-style: dashed;
}
.navCanvas {
  background-color: var(--navbar-canvas-color);
  color: var(--textShade300);
}
.navAction {
  height: fit-content;
  display: inline-block;
  border: 1px solid var(--accentColor);
  border-radius: var(--border-radius);
  color: var(--accentColor);
  padding: 0.6rem 1.2rem;
  margin-left: 2.5rem;
  font-size: 0.9rem;
}

.navList li {
  width: fit-content;
  margin: 0 0.5rem;
}
.navList li a {
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--textShade300) !important;
}

@media (max-width: 767.98px) {
  .navDark {
    font-size: 1.3rem;
  }
  .navToggler {
    display: inline-block;
  }
  .navList {
    margin-bottom: 1rem;
  }
  .navList li {
    width: fit-content;
    margin: 0.3rem auto;
  }
  .navList li a {
    font-size: 1.1rem;
    font-weight: 500;
  }
  .navAction {
    margin: 0;
  }
}
