.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  padding-inline: 1.5rem;
  position: fixed;
  z-index: 99;
  width: 100%;
}
.navDark {
  background-color: var(--navbar-color);
  /* background-color: transparent; */
  box-shadow: 0 10px 10px -12px rgba(0, 0, 0, 0.4);
}

.navToggler {
  display: none;
}
.offCanvas {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navList {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navLink {
  color: var(--textShade300);
  font-weight: 400;
  font-size: 0.9rem;
}
.navLink > span {
  margin-inline-end: 0.5rem;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--accentColor);
}
.navAction {
  font-size: 0.85rem;
  border: 1px solid var(--accentColor);
  border-radius: 5px;
  padding: 8px 15px;
}

@media screen and (max-width: 768px) {
  .navLink > span {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .navLink > span {
    display: inline-block;
    font-size: 1rem;
  }
  .offCanvas {
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    background-color: var(--navbar-canvas-color);
    align-items: flex-start;
    padding: min(30vh, 6rem) 2rem;
    transition: transform 300ms ease-out;
    transform: translateX(100%);
  }
  .offCanvas[data-visible="true"] {
    transform: translateX(0%);
  }
  .navList {
    flex-direction: column;
  }
  .navLink {
    font-size: 1rem;
  }
  .navToggler {
    display: block;
    position: relative;
    /* top: 30px; */
    /* right: 30px; */
    z-index: 1000;
  }
  .navAction {
    padding: 12px 30px;
    font-size: 0.9rem;
  }
}
