.projectItem {
  display: grid;
  grid-auto-flow: row;
  background-color: var(--darker-background);
  padding: 2rem;
  color: var(--textShade100);
  border-radius: var(--border-radius);
  height: 100%;
}

.projectLinks {
  text-align: right;
}
.projectLinks > *:first-child {
  margin: 0 1rem;
}

.txt {
  margin: 1.5rem 0;
}
.projectTitle {
  font-size: 1.15rem;
  margin-bottom: 0.8rem;
  color: var(--textShade300);
  font-weight: 600;
}
.projectTitle:hover {
  color: var(--accentColor);
}
.projectSummary {
  color: var(--textShade200);
  font-size: var(--smoller-font);
}
.projectTools {
  font-size: var(--font-md);
  color: var(--textShade100);
}
.projectTools li {
  display: inline;
  margin-right: 0.5rem;
}
.projectTools li::before {
  content: "•";
  color: var(--accentColor);
}

@media screen and (max-width: 767.98px) {
  /* .projectSummary,
  .projectTools {
    font-size: 1rem;
  } */
}
