.card {
  padding: 2rem;
  text-align: center;
  background-color: var(--darker-background);
  max-width: 460px;
  margin: 0 0.1rem;
  color: var(--textShade200);
  height: 100%;
  border-radius: var(--border-radius);
}

.skillTitle {
  color: var(--textShade300);
  margin-bottom: 2rem;
}

.skillText {
  color: var(--textShade200);
  margin-bottom: 2rem;
}

.skillTiltle2 {
  color: var(--textShade200);
}
.techList {
  text-align: center;
  color: var(--textShade100);
}
.techList li {
  margin: 1rem 0;
}

.techList li:before {
  content: "▹";
  color: var(--accentColor);
}
