@tailwind base;
@tailwind components;
@tailwind utilities;

html,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Jetbrains Mono", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: initial;
}
/* Tailwind */
@layer components {
  .k-input {
    @apply appearance-none  text-gray-800 w-full p-3 bg-gray-200 rounded border border-gray-300 hover:border-blue-400 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-300 text-lg shadow-sm;
  }
  .k-button {
    @apply border-solid py-4 px-6 rounded-lg  border-2 border-[color:var(--accentColor)] text-lg font-medium bg-transparent text-[color:var(--accentColor)] hover:bg-sky-400/20;
  }
}
:root {
  --side-padding: 1rem;
  --side-padding-skills: 1rem;
  --section-vert-padding: 3rem;
  --section-header-padding: 2rem;
  --border-radius: 8px;
  /* colors */
  /* dark mode */
  --background-color-dark: rgb(22, 44, 80);
  --navbar-color-dark: rgba(22, 44, 82, 0.9);
  --navbar-canvas-color-dark: rgba(22, 44, 82, 0.95);
  --hero-background-color: rgb(22, 44, 80);
  --secondaryColor: #12201c;
  --accentColor-dark: hsl(166, 100%, 70%);
  --darkerDark: rgb(10, 32, 68);
  --lightestText: rgb(220, 230, 230);
  --lighterText: rgb(200, 220, 220);
  --lightText: rgb(168, 178, 209);
  /* light mode */
  --navbar-color-light: hsla(0, 0%, 93%, 0.9);
  --navbar-canvas-color-light: hsla(0, 0%, 93%, 0.95);
  --background-color-light: hsla(0, 0%, 93%, 1);
  --accentColor-light: hsl(166, 41%, 41%);
  --darkerLight: rgb(211, 211, 211);
  --darkestText: rgb(0, 0, 0);
  --darkerText: rgb(34, 34, 34);
  --darkText: rgb(51, 51, 51);
  --button-hover-color: hsla(166, 53%, 56%, 0.2);
  /* fonts */
  --headingXXL: clamp(2.5rem, 5vw, 4rem);
  --headingXL: clamp(1.6rem, 3vw, 2rem);
  --headingL: clamp(1.4rem, 2.5vw, 1.6rem);
  --headingMd: clamp(1.1rem, 2vw, 1.2rem);
  --font-md: 0.9rem;
  --hero-text-shadow: 5px 5px rgba(0, 0, 0, 0.95);
  --box-shadow: 6px 15px 15px -10px #000000;

  --button-font-size: 1.1rem;

  --footer-social-icon-size: 25px;
}

/* COLOR SCHEMES */
/* if system uses light theme */
@media (prefers-color-scheme: light) {
  :root {
    --navbar-color: var(--navbar-color-light);
    --navbar-canvas-color: var(--navbar-canvas-color-light);
    --background-color-inverse: var(--background-color-dark);
    --background-color: var(--background-color-light);
    --accentColor: var(--accentColor-light);
    --darker-background: var(--darkerLight);
    --textShade100: var(--darkText);
    --textShade200: var(--darkerText);
    --textShade300: var(--darkestText);
  }
}
/* if system uses dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --navbar-color: var(--navbar-color-dark);
    --navbar-canvas-color: var(--navbar-canvas-color-dark);
    --background-color: var(--background-color-dark);
    --background-color-inverse: var(--background-color-light);
    --darker-background: var(--darkerDark);
    --accentColor: var(--accentColor-dark);
    --textShade100: var(--lightText);
    --textShade200: var(--lighterText);
    --textShade300: var(--lightestText);
  }
}
/* toggle light theme when p2k-theme attribute changes*/
body[p2k-theme="light"] {
  --navbar-color: var(--navbar-color-light);
  --navbar-canvas-color: var(--navbar-canvas-color-light);
  --background-color-inverse: var(--background-color-dark);
  --background-color: var(--background-color-light);
  --accentColor: var(--accentColor-light);
  --darker-background: var(--darkerLight);
  --textShade100: var(--darkText);
  --textShade200: var(--darkerText);
  --textShade300: var(--darkestText);
}
/* toggle dark theme when p2k-theme attribute changes*/
body[p2k-theme="dark"] {
  --navbar-color: var(--navbar-color-dark);
  --navbar-canvas-color: var(--navbar-canvas-color-dark);
  --background-color-inverse: var(--background-color-light);
  --background-color: var(--background-color-dark);
  --darker-background: var(--darkerDark);
  --accentColor: var(--accentColor-dark);
  --textShade100: var(--lightText);
  --textShade200: var(--lighterText);
  --textShade300: var(--lightestText);
}

/* THEME STYLES */
body {
  background: var(--background-color);
  overflow-x: hidden;
  color: var(--textShade200);
}

.section {
  margin-bottom: 4rem;
  padding-top: var(--section-vert-padding);
  padding-bottom: var(--section-vert-padding);
  /* background-color: bisque; */
}

/* links */
a {
  position: relative;
  text-decoration: none;
}
a,
a:hover {
  color: var(--accentColor);
}
/* custom bootstrap navlink active */
.nav-link::before {
  content: "";
}

.nav-link.active::before {
  content: "▹";
  color: var(--accentColor);
}

/* list */
.list {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.list li {
  margin: 0;
  padding: 0;
}
/* button */
/* remove default styles */
button {
  background: none;
  border: none;
  cursor: pointer;
}
.button {
  background-color: transparent;
  padding: 1rem 1.5rem;
  color: var(--accentColor);
  font-size: var(--button-font-size);
  border: 2px solid var(--accentColor);
  border-radius: var(--border-radius);
}
.button:hover {
  background-color: var(--button-hover-color);
}
/* UTILITY CLASSES */

/* COLOURS */

.svgAccent {
  stroke: var(--accentColor);
  fill: var(--accentColor);
}

/* TYPOGRAPHY */
.h {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  font-family: Inter;
}
.headingXXL {
  font-size: var(--headingXXL);
  font-weight: 900;
}
.headingXL {
  font-size: var(--headingXL);
  font-weight: 800;
}
.headingL {
  font-size: var(--headingL);
  font-weight: 700;
}
.headingMd {
  font-size: var(--headingMd);
  font-weight: 600;
}
.textMd {
  font-size: var(--font-md);
  font-weight: 300;
}

.sectionHeader {
  margin-bottom: var(--section-header-padding);
  color: var(--textShade300);
}

/* ANIMATIONS & TRANSITIONS*/
/* icon hover */
.icon {
  stroke: var(--textShade200);
  transform: translateY(0);
  transition: all 100ms ease-in-out;
}
.icon:hover {
  stroke: var(--accentColor);
  scale: 1.1;
  transform: translateY(-2px);
  transition: all 100ms ease-in;
}
.icon:focus {
  border: 2px solid var(--accentColor);
  border-style: dashed;
}
/* link underline */

.link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--accentColor);
  transform-origin: right;
  transition: transform 0.25s ease-out;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* HOVER  */
.hover-anim {
  position: relative;
}
.hover-anim:hover {
  animation: hover-animation 200ms ease-in;
  animation-fill-mode: forwards;
}
@keyframes hover-animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
    box-shadow: var(--box-shadow);
    z-index: 5;
  }
}

/* FADE IN */
.fade-in {
  opacity: 0;
  transform: translate(0.4rem, 0.8rem);
  transition: all 300ms ease-in;
  transition-property: opacity, transform;
}
.fade-in.appear {
  opacity: 1;
  transform: translate(0, 0);
}

/* SLIDERS */

.slide-left,
.slide-right {
  opacity: 0;
  transition: all 300ms ease-in;
}
.slide-left.appear,
.slide-right.appear {
  opacity: 1;
}

.slide-left {
  transform: translate(1rem, 0.5rem);
}

.slide-right {
  transform: translate(-1rem, -0.5rem);
}
.slide-right.appear,
.slide-left.appear {
  transform: translate(0, 0);
}
@media screen and (max-width: 767.98px) {
  .offcanvas {
    height: 50vh !important;
  }
  .scroll-lock {
    overflow-y: hidden;
  }
}
@media screen and (min-width: 540px) {
  :root {
    --side-padding: 4rem;
  }
}
@media screen and (min-width: 768px) {
  :root {
    --side-padding: 6rem;
    --side-padding-skills: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  :root {
    --side-padding: 10rem;
    --side-padding-skills: 4rem;
  }
}
